@import "./styles/global.scss";


body.scrolled .goToMainSite {
  //background-color: #343434a3;
}

.isVisible {
  opacity: 1 !important;
}

.isShown {
  display: block !important;
}

.screen {
  width: 100vw;
  min-height: 100vh;

  &.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0174) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.45) 100%, rgba(255, 255, 255, 0.45) 100%), url('/assets/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 6rem;

    * {
      color: white;
    }

    .logo {
      width: 78rem;
    }

    .language-switch {
      font-size: 4rem;
      position: absolute;
      top: 2rem;
      right: 3rem;
      display: flex;

      > a {
        display: block;
        padding: 2rem 3rem;
        text-decoration: none;
      }
    }

    .screen-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .caption {
        margin-top: 1rem;
        font-size: 6rem;
        line-height: 1.5em;
      }
    }
  }

  &.intro {
    position: relative;
    color: black;
    background: white;
    min-height: unset;

    .screen-content {
      padding: 20vh 10vw 20vh 10vw;
    }

    .text {
      max-width: 175rem;
    }

    p {
      font-size: 4.5rem;
      line-height: 1.1em;

      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  &.donate {
    padding: 12rem 18rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;

    .bg-list {
      z-index: $z-index-bg-list;

      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.8) 0.35%, rgba(0, 0, 0, 0) 99.56%), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.67%, rgba(0, 0, 0, 0.6225) 70.31%, rgba(0, 0, 0, 0.75) 100%);
        z-index: 3;
      }

      > img {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left top;
        transition: opacity 700ms;
        z-index: 2;

        &.left-bottom {
          object-position: left bottom;
        }

        &.right-bottom {
          object-position: right bottom;
        }

        &.isVisible {
          opacity: 1;
        }
      }
    }

    &,
    .amounts > button {
      color: white;
    }

    h1 {
      font-size: 6rem;
      font-weight: bold;
    }

    h2 {
      font-size: 6rem;
      font-weight: bold;
    }

    .text {
      font-size: 3.75rem;
      line-height: 1.1em;
      margin-top: 1em;

      p {
        &:not(:first-child) {
          margin-top: 1em;
          line-height: 1.1em;
        }
      }
    }


    .screen-content {
      margin-top: 20rem;
      display: grid;
      grid-template-columns: 3fr 4fr;
      grid-gap: 16rem;
    }

    .donate {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: $z-index-donate;
      flex: 1;

      .controls {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;

        .row {
          display: flex;
          align-items: stretch;
          margin-top: 9rem;
          height: 15rem;
        }
      }
    }

    .amounts {
      display: flex;
      margin-top: 9rem;

      > button {
        background: none;
        position: relative;
        border: none;
        font-size: 6rem;
        padding: 0;
        outline: none;

        &:not(:first-child) {
          margin-left: 10rem;
        }

        &[data-for-us="true"] {
          color: #ffcb00;
        }

        &::before {
          content: ' ';
          position: absolute;
          top: 50%;
          left: 50%;
          border: 0.5rem solid var(--red);
          transform: translateX(-50%) translateY(-50%);
          padding: 3rem 5rem;
          border-radius: 0.75rem;
          display: none;
          width: 100%;
          height: 100%;
          box-sizing: content-box;
        }

        &.isActive::before {
          display: block;
        }
      }
    }

    .donateButton,
    .showDetailsButton,
    .hideDetailsButton {
      border-radius: 2rem;
      font-size: 5rem;
      color: white;
      padding: 1rem 18rem;
      transition: opacity 200ms;
      flex-shrink: 0;

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .donateButton {
      background: var(--red);
      border: none;
    }

    .donateAmountInput {
      border: 0.75rem solid var(--red);
      background: white;
      border-radius: 2rem;
      padding: 3rem;
      font-size: 5rem;
      max-width: 30rem;
      text-align: center;
      display: none;
      margin-left: 3rem;
    }

    .row {
      //.donateButton {
      //  border-top-right-radius: 0;
      //  border-bottom-right-radius: 0;
      //  padding: 1rem 12rem;
      //}
      //.donateAmountInput {
      //  border-top-left-radius: 0;
      //  border-bottom-left-radius: 0;
      //}
    }


    .donateSubscribeCheckbox {
      display: flex;
      font-size: 5rem;
      align-items: center;
      cursor: pointer;
      margin-top: 6rem;

      .checkbox {
        position: relative;
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;

        .bg {
          border-radius: 0.75rem;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 0.5rem solid var(--red);
        }

        > input {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          margin: 0;

          &:checked + .bg {
            background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 22.5L21.5 37.5L47 10' stroke='white' stroke-width='9'/%3E%3C/svg%3E%0A");
            background-size: 4rem;
            background-position: center;
            background-repeat: no-repeat;
            background-color: var(--red);
          }
        }
      }
    }

    .showDetailsButton {
      background: transparent;
      border: 2px solid white;
      opacity: 0;
      display: none;
      margin-top: 16rem;
    }

    .hideDetailsButton {
      background: transparent;
      border: 2px solid black;
      color: black;
      display: none;
      margin-top: 10rem;
    }


    .details {
      position: absolute;
      bottom: 10rem;
      right: 12rem;
      max-width: 200rem;
      width: calc(100vw - 12rem * 2);
      z-index: $z-index-details;

      .amount-details {
        opacity: 0;
        transition: opacity 300ms;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;

        .image {
          display: none;
        }

        &.isVisible {
          opacity: 1;
          pointer-events: all;
          transition-delay: 500ms;
        }
      }
    }

    .errorMessage {
      font-size: 4.5rem;
      color: var(--red);
      margin-top: 3rem;
    }
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 4px;
  }

  .screen {
    &.cover {
      .logo {
        max-width: 90vw;
      }
    }


    &.donate {
      padding: 9rem 9rem;

      .bg-list {
        &::before {
          //background: rgb(18 0 0 / 85%);
          background: rgb(5 5 5 / 80%);
        }

        img {
          object-position: center bottom;
          filter: blur(1.5rem);
        }
      }

      .donateButton,
      .showDetailsButton {
        padding: 1rem 6rem;
        flex: 1;
      }

      .hideDetailsButton {
        display: block;
      }

      .showDetailsButton {
        &.isVisible {
          display: block;
        }
      }

      .screen-content {
        grid-template-columns: 1fr;
      }

      .donate {
        align-items: unset;
        min-height: unset;

        .controls {
          align-items: stretch;
        }
      }

      .details {
        position: static;
        top: 0;
        left: 0;
        margin-top: 12rem;
        width: unset;

        &.isVisible {
          flex-direction: column;
        }

        .amount-details {
          position: static;
          display: none;

          h2 {
            font-size: 8rem;
          }

          .text {
            font-size: 4.5rem;
          }

          .image {
            display: block;
            margin-top: 4rem;
            width: 100%;
          }

          &.isVisible {
            display: block;
          }
        }
      }

      .amounts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5rem;
        align-items: center;

        > button:not(:first-child) {
          margin-left: 0;
        }

        > button {
          //&[data-custom="true"] {
          //  grid-column-start: 1;
          //  grid-column-end: 4;
          //}

          &::before {
            padding: 2rem 0;
          }
        }
      }
    }
  }
}
