doctype html
head
  meta(charset='utf-8')
  title Health&amp;Help Secret Santa
  meta(name='viewport' content='initial-scale=1')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet")

  script(async,src="https://www.googletagmanager.com/gtag/js?id=G-3YNTW59FZJ")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3YNTW59FZJ');
  - var langPrefix = currentLang === env.DEFAULT_LANG ? '' : `/${currentLang}`
  block head
body
  block content
  footer
    p
      | © Health & Help
    p
      | All rights reserved. International Charity Organization
    p
      | Health & Help is a recognized 501(c)(3) not-for-profit organization by the IRS. EIN: 81-3432192
    p
      a(href='https://he-he.org/wp-content/themes/shapely.1.2.8/shapely/assets/pdf/privacy_polic.pdf')
        | Privacy Policy
