doctype html
head
  meta(name='generator' content='Hugo 0.79.0')
  meta(charset='utf-8')
  title Health&amp;Help Secret Santa
  meta(name='viewport' content='initial-scale=1')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
  - var langPrefix = currentLang === env.DEFAULT_LANG ? '' : `/${currentLang}`
  block head
body
  block content

